body {
    background-color: #F3F3F3;
}

nav {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 5px;
}


.main-container {
   display: flex;
   justify-content: start;
   align-items: center;
   width: 100%;
   gap: 10px;
}

.sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 5% !important;
    height: 90vh;
}

.sidebar div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.sidebar img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.m10 {
    margin-top: 10px;
}


.chatlist {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100% !important;
    height: 90vh;
    background-color: white;
    border-radius: 10px;
}


.list {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    width: 30% !important;
    height: 90vh;
    border-right: 1px solid gainsboro;
}




.header-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-chat {
    width: 100%;
}

.search {
    padding: 8px;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
}


.user-profile {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 95%;
    height: 60px;
    margin: 10px;
    background-color: #F3F3F3;
    border-radius: 5px;
}


.user-profile1 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 95%;
    height: 60px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}
.user-content {
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;
    color: black;
}


.txt {
    position: relative;
    bottom: 30px;
    right: 15px;
    color: rgb(125, 122, 122);
}


.chat {
    background-image: url('Images/WP-Back.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 70% !important;
    height: 90vh;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.user-chat-profile {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    width: 100%;
}

.header-chat-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    height: 70px;
}

.header-chat-profile i {
    margin-right: 20px;
}

.type {
    display: flex;
    position: relative;
    width: 100%;
    bottom: 20px;
    left: 4px;
}

.name {
    overflow: hidden;
    width: 100%;
}


.chat-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 50px;
    width: 100% !important;
    gap: 20px;
}

.chat-box form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat-box  input {
    border: none;
    padding: 10px;    
}


#btn {
    background-color: white;
    border: none;
}

.msg {
    display: flex;
    justify-content: start;
    align-items: end;
    width: 100%;
    position: relative;
    top: 35%;
}

ul {
    width: 100%;
}
